body {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  word-wrap: break-word;
  text-align: left;
  margin: 20px;
  padding: 120px;

  margin: 50px auto;
  padding: 15px;
  position: relative;
  /*needed for heading4 rule*/
  z-index: 0;
  /* again, just for heading4 rule*/
  border: 7px solid #cecece;
  border: 7px solid rgba(0, 0, 0, 0.05);
  background: #fff;
  background-clip: padding-box;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.container {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  min-height: 200px;
  width: 50vw;
  margin: 100px auto;
  background: white;
  border-radius: 5px;
}

code,
pre {
  position: relative;
}

code,
pre {
  display: block;
  padding: 20px;
  background: #f2f2f2;
  color: #555755;
}

span.command-copy {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.6;
  font-size: 20px;
  color: #555755;
}

span.command-copy:hover {
  cursor: pointer;
}
