h1 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 2em;
  letter-spacing: -2px;
  border-bottom: 2px solid black;
  text-transform: uppercase;
  color: #fbfeff;
  text-shadow: 0 0 5px #119fb8, 0 0 10px #b4a5ff, 0 0 20px #fdffa5,
    0 0 30px #a5acff, 0 0 40px #a5a8ff;
}

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px
}

#scrollBtn:hover {
  background-color: #555
}
body {
  padding: 20px;
  text-align: center;
  overflow:scroll;
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
iframe{
  border-radius:25px;
}
.button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: auto;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
  background-color: #ddd;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 1)),
      to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));
  background-image: linear-gradient(top,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  background-clip: padding-box;
  /* Fix bleeding */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
    0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3),
    0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
    0 1px 0 rgba(255, 255, 255, 0.3) inset;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: #eee;
  color: #555;
}

.button:active {
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
}

.button[disabled],
.button[disabled]:hover,
.button[disabled]:active {
  border-color: #eaeaea;
  background: #fafafa;
  cursor: default;
  position: static;
  color: #999;
  /* Usually, !important should be avoided but here it's really needed :) */
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

/* Smaller buttons styles */
.button.small {
  padding: 4px 12px;
}

/* Larger buttons styles */
.button.large {
  padding: 12px 30px;
  text-transform: uppercase;
}

.button.large:active {
  top: 2px;
}

/* Colored buttons styles */
.button.green,
.button.red,
.button.blue {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.3)),
      to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0));
  background-image: linear-gradient(top,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0));
}

/* */
.button.green {
  background-color: #57a957;
  border-color: #57a957;
}

.button.green:hover {
  background-color: #62c462;
}

.button.green:active {
  background: #57a957;
}

/* */
.button.red {
  background-color: #ca3535;
  border-color: #c43c35;
}

.button.red:hover {
  background-color: #ee5f5b;
}

.button.red:active {
  background: #c43c35;
}

/* */
.button.blue {
  background-color: #269ce9;
  border-color: #269ce9;
}

.button.blue:hover {
  background-color: #70b9e8;
}

.button.blue:active {
  background: #269ce9;
}

/* */
.green[disabled],
.green[disabled]:hover,
.green[disabled]:active {
  border-color: #57a957;
  background: #57a957;
  color: #d2ffd2;
}

.red[disabled],
.red[disabled]:hover,
.red[disabled]:active {
  border-color: #c43c35;
  background: #c43c35;
  color: #ffd3d3;
}

.blue[disabled],
.blue[disabled]:hover,
.blue[disabled]:active {
  border-color: #269ce9;
  background: #269ce9;
  color: #93d5ff;
}

/* Group buttons */
.button-group,
.button-group li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.button-group {
  font-size: 0;
  /* Inline block elements gap - fix */
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.button-group li {
  margin-right: -1px;
  /* Overlap each right button border */
}

.button-group .button {
  font-size: 13px;
  /* Set the font size, different from inherited 0 */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.button-group .button:active {
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset,
    5px 0 5px -3px rgba(0, 0, 0, 0.2) inset,
    -5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset,
    5px 0 5px -3px rgba(0, 0, 0, 0.2) inset,
    -5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset,
    5px 0 5px -3px rgba(0, 0, 0, 0.2) inset,
    -5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
}

.button-group li:first-child .button {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.button-group li:first-child .button:active {
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset,
    -5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset,
    -5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset,
    -5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
}

.button-group li:last-child .button {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.button-group li:last-child .button:active {
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset,
    5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset,
    5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset,
    5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
}

a {
  color: rgb(159, 249, 247);
}

li {
  border: 2px solid black !important;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 700;
  line-height: 12px;
  text-decoration: none !important;
  text-transform: uppercase;
  background: #06113ac1 !important;
  color: black !important;
  border: none;
  cursor: pointer;
  justify-content: center;
  padding: 40px 60px;
  height: 55px;
  text-align: center;
  white-space: normal;
  border-radius: 8px;
  min-width: 50em;
  padding: 1.4em 1.4em 0;
  box-shadow: 0 0 5px;
  margin: 1em;
  display: grid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

div.container {
  overflow: hidden;
  width: 900px;
  height: 240px;
}
